[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
torch = "==1.0.0"
torchvision = "==0.2.2"
scikit-image = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"

